<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (24)</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Chandler Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 26 2023</small>
      <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ullam accusantium tempora nihil exercitationem est expedita officia voluptates? Deleniti quia ipsam odit. Id ullam laudantium molestiae perspiciatis accusamus quo in.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente pariatur natus ipsam ipsum inventore debitis, quis necessitatibus animi adipisci, nam cum ut facilis. Dicta aut aliquid quaerat alias necessitatibus vero!Lorem
      </div>
      <hr>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>

    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Chandler Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 26 2023</small>
      <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ullam accusantium tempora nihil exercitationem est expedita officia voluptates? Deleniti quia ipsam odit. Id ullam laudantium molestiae perspiciatis accusamus quo in.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente pariatur natus ipsam ipsum inventore debitis, quis necessitatibus animi adipisci, nam cum ut facilis. Dicta aut aliquid quaerat alias necessitatibus vero!Lorem
      </div>
      <hr>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>

    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Chandler Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 26 2023</small>
      <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ullam accusantium tempora nihil exercitationem est expedita officia voluptates? Deleniti quia ipsam odit. Id ullam laudantium molestiae perspiciatis accusamus quo in.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente pariatur natus ipsam ipsum inventore debitis, quis necessitatibus animi adipisci, nam cum ut facilis. Dicta aut aliquid quaerat alias necessitatibus vero!Lorem
      </div>
      <hr>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply</a>

    </div>
  </div>
</div>
